In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("covid_19_data.csv")

In [3]:
grouped_df = df.groupby(["ObservationDate", "Country/Region", "Province/State"]).count()

In [4]:
grouped_df[grouped_df['Last Update'] > 1].sort_values(by=['Last Update'], ascending=False)

Empty DataFrame
Columns: [SNo, Last Update, Confirmed, Deaths, Recovered]
Index: []

같은 날짜에 같은 지역의 확진자 수가 2번 이상 측정된 곳은 마지막 업데이트 시간을 기준으로 하나의 데이터로 통합하였다.

In [5]:
accumulated_df = df.groupby(["ObservationDate", "Country/Region"]).sum()

In [6]:
accumulated_df.drop(["SNo"], axis=1, inplace=True)
accumulated_df.to_csv("accumulated_covid_19_data.csv", mode='w')

In [7]:
accumulated_df

                                    Confirmed  Deaths  Recovered
ObservationDate Country/Region
01/22/2020      Hong Kong                 0.0     0.0        0.0
                Japan                     2.0     0.0        0.0
                Macau                     1.0     0.0        0.0
                Mainland China          547.0    17.0       28.0
                South Korea               1.0     0.0        0.0
...                                       ...     ...        ...
05/14/2020      West Bank and Gaza      375.0     2.0      310.0
                Western Sahara            6.0     0.0        6.0
                Yemen                    85.0    12.0        1.0
                Zambia                  654.0     7.0      124.0
                Zimbabwe                 37.0     4.0       13.0

[13750 rows x 3 columns]

In [8]:
import pandas as pd
world_id_name = pd.read_csv('world_country_id.csv')
world_region = pd.read_csv('accumulated_covid_19_data.csv')

In [9]:
regions = world_region['Country/Region'].unique()

In [10]:
countrys = world_id_name['name'].unique()

In [11]:
print((set(regions) | set(countrys)) - (set(regions) & set(countrys)))

{'Tokelau', 'St. Martin', 'Tuvalu', 'Swaziland', 'Gaza Strip', 'Nauru', 'Unspecified', 'Palau', 'World', 'Cocos (Keeling) Islands', 'Fm Zanz-Pemb', 'New Caledonia', 'West Bank and Gaza', 'Jhonston Island', 'Bermuda', 'Free Zones', 'Fm Vietnam Rp', 'Saint Helena', 'Northern Mariana Islands', 'Montenegro', 'Slovakia', 'Saint Barthelemy', 'Special Categories', 'Vanuatu', 'SIKKIM', 'Solomon Islands', 'Bahamas, The', 'Laos', 'Guernsey', 'Montserrat', 'Ryukyu Is', 'Falkland Island', 'Sarawak', 'Kiribati', 'North Macedonia', 'Cook Islands', 'Svalbard and Jan Mayen Is', 'Belgium-Luxembourg', 'Others', "('St. Martin',)", 'Marshall Islands', 'Vatican City', 'Jersey', 'Gambia, The', 'German Democratic Republic', 'Republic of the Congo', 'occupied Palestinian territory', 'Serbia', 'Fm Vietnam Dr', 'Burma', 'Timor-Leste', 'Palestine', 'Sabah', 'Netherlands Antilles', 'Virgin Islands (U.S.)', 'Samoa', 'MS Zaandam', 'Turks and Caicos Isl.', 'Lao PDR', 'Fm Tanganyik', 'Kyrgyz Republic', 'Midway Islands', 'Fm Panama Cz', 'Pacific Islands', 'American Samoa', 'Pitcairn', 'Curacao', 'Saint Pierre and Miquelon', 'Fm Rhod Nyas', 'South Sudan', 'Myanmar', 'Us Msc.Pac.I', 'Czechoslovakia', 'Eswatini', 'North Korea', 'Mayotte', 'Wallis and Futura Isl.', 'British Virgin Islands', 'British Indian Ocean Ter.', 'Cabo Verde', 'Syrian Arab Republic', 'Diamond Princess', 'Micronesia, Fed. Sts.', 'Kyrgyzstan', 'Saint Kitts-Nevis-Anguilla-Aru', 'Anguila', 'The Bahamas', 'Yugoslavia', 'Soviet Union', 'Fr. So. Ant. Tr', 'Christmas Island', 'Neutral Zone', 'Kosovo', "Cote d'Ivoire", 'Yugoslavia, FR (Serbia/Montene', 'The Gambia', 'European Union', 'Syria', 'Slovak Republic', 'Br. Antr. Terr', 'Ivory Coast', 'French Polynesia', 'Norfolk Island', 'Niue', 'Wake Island', 'Republic of Ireland', 'Channel Islands', 'Macedonia, FYR', 'Pen Malaysia', 'Turkmenistan', 'Tonga'}

In [12]:
set(regions) - (set(regions) & set(countrys))

{"('St. Martin',)",
 'Bahamas, The',
 'Burma',
 'Cabo Verde',
 'Channel Islands',
 'Curacao',
 'Diamond Princess',
 'Eswatini',
 'Gambia, The',
 'Guernsey',
 'Ivory Coast',
 'Jersey',
 'Kosovo',
 'Kyrgyzstan',
 'Laos',
 'MS Zaandam',
 'Mayotte',
 'Montenegro',
 'North Macedonia',
 'Others',
 'Palestine',
 'Republic of Ireland',
 'Republic of the Congo',
 'Saint Barthelemy',
 'Serbia',
 'Slovakia',
 'South Sudan',
 'St. Martin',
 'Syria',
 'The Bahamas',
 'The Gambia',
 'Timor-Leste',
 'Vatican City',
 'West Bank and Gaza',
 'occupied Palestinian territory'}

나라 이름이 정확하게 일치하지 않는 경우를 확인하여 수정해주었다.